.merge_request_acyboys b{
	display: inline-block;
}

.merge-request{
	padding: 0 !important;
	margin: 6px 0 6px 0 !important;
	min-height: 63px;
}

.issuable-info-container{
	transition: .2s;
	border-radius: 3px;
	border-left: 5px solid transparent;
	padding-left: 10px !important;
}

#gitlab-mr__notif{
	position: absolute;
	top: 10px;
	width: 300px;
	min-height: 100px;
	right: calc(50% - 300px);
}

.gtilab_mr_tools_toggle{
	color: #919191;
	cursor: pointer;
	transition: .1s;
	align-items: center;
	display: flex;
	flex-direction: row;
	min-height: 2rem;
	flex-wrap: wrap;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 1.25rem;
}


.gtilab_mr_tools_toggle span{
	font-size: 13px;
}

.gtilab_mr_tools_toggle:hover span{
	color: #1b69b6;
}

.gtilab_mr_tools_toggle:focus span{
	color: #1b69b6;
	text-decoration: underline;
	outline: none;
}
