.merge_request_acyboys b{
	display: inline-block;
}

.merge-request{
	padding: 0 !important;
	margin: 6px 0 6px 0 !important;
	min-height: 59px;
}

.issuable-info-container{
	transition: .2s;
	border-radius: 3px;
}

.issuable-info-container:hover{
	border-left-width: 7px !important;
}

#gitlab-mr__notif{
	position: absolute;
	top: 10px;
	width: 300px;
	min-height: 100px;
	right: calc(50% - 300px);
}

.gtilab_mr_tools_toggle{
	font-size: 13px;
	color: #919191;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: .1s;
}

.gtilab_mr_tools_toggle i{
	margin-right: 3px;
	font-size: 10px;
	line-height: 18px;
	vertical-align: top;
}

.gtilab_mr_tools_toggle:hover{
	color: #1b69b6;
}

.gtilab_mr_tools_toggle:focus{
	color: #1b69b6;
	text-decoration: underline;
	outline: none;
}
